<!DOCTYPE html>
<html>

<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="flex justify-between">

            <div>
                <a href="/" class="home-btn btn">
                    Home
                </a>
            </div>

            <div>
                <a href="/students/students-list" class="home-btn btn">
                    View students
                </a>
            </div>

        </div>
    </header>
    <main class="mt-100">
        <section class="form-section flex items-center justify-center text-center gap-10">
            <form action="/students/save-student" method="post">
                <h2>Add new student</h2>

                <div class="flex flex-col gap-10 mt-10">
                    <input 
                        type="text"
                        name="name"
                        placeholder="Full Name"
                        required
                    >
                    <input 
                        type="email"
                        name="email"
                        placeholder="Email"
                        required
                    >
                    <input 
                        type="text"
                        name="course"
                        placeholder="Course"
                        required
                    >
                    <input 
                        type="text"
                        name="phone"
                        placeholder="Phone"
                        required
                    >
                    <button type="submit" class="btn border-none pointer">
                        Add student
                    </button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>