<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <section class="hero-section">
            <div class="h-full flex flex-col justify-center items-center gap-10">
                <h1>Student Management System</h1>
                <p>Manage students easily with modern dashboard UI.</p>

                <div class="flex gap-10">
                    <a href="/students/add" class="btn btn-add">
                        Add Student
                    </a>
                    <a href="/students/students-list" class="btn btn-all">
                        View Students
                    </a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>