 <header class="bg-blue-600 text-blue-300">
    <nav class="flex justify-between items-center container mx-auto py-3">

      <!-- Logo -->
      <div class="font-bold bg-blue-300 text-blue-600 rounded-full h-10 w-10 flex justify-center items-center">
        AP
      </div>

      <!-- Nav links-->
      <div>
        <ul class="flex gap-5 items-center">
          <li>
            <a href="/" class="<%= title.includes('Welcome') ? 'active' : '' %> cursor-pointer hover:text-blue-200 transition-all">Home</a>
          </li>
          <li>
            <a href="/" class="cursor-pointer hover:text-blue-200 transition-all">About</a>
          </li>
        </ul>
      </div>

    </nav>
  </header>