<footer class="bg-gray-700 text-gray-300">
  <div class="flex justify-between container mx-auto py-3">
    <p>All right reserved &copy; <span class="footer-date">2026</span></p>
    <p>Created by Bhushan Patil</p>
  </div>
</footer>
<script src="/js/script.js"></script>