<header class="bg-blue-500 text-white">
  <nav class="flex justify-between container mx-auto py-3">

    <!-- Logo -->
    <div class="text-bold">
      logo
    </div>

    <!-- Nav links-->
    <div>
      <ul class="flex gap-5">
        <li>Home</li>
        <li>About</li>
      </ul>
    </div>

  </nav>
</header>