<section>
    <div class="container">

        <div class="since-bottom flex py100">

            <!-- Left Side -->
            <div class="col-6 col-lg-12">

                <div class="since">

                    <span class="since-sub-title">
                        Since Form
                    </span>

                    <h2 class="since-title">
                        Keep pushing forward. We've got your back.
                    </h2>

                    <h3 class="since-dsc">
                        Thing go wrong have questions.
                        We've understand. So we have people.
                    </h3>

                    <div class="since-text flex align-center justify-between">

                        <div class="since-text-left flex align-center">
                            <h2 class="since-num">
                                10K
                            </h2>

                            <h2 class="since-users">
                                Happy Users <br>
                                Around World
                            </h2>
                        </div>

                        <div class="since-text-right flex align-center">
                            <h2 class="since-num">
                                120K
                            </h2>

                            <h2 class="since-users">
                                Projects <br>
                                Already Done
                            </h2>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Right Side -->
            <div class="col-6 col-lg-12">

                <!-- Review 1 -->
                <div class="review">

                    <div class="review-top flex">

                        <div class="user-img-name flex align-center">
                            <img
                                src="/images/<%= blog1 %>"
                                alt="Anant Shah"
                                width="10%"
                            >

                            <h2>Anant Shah</h2>
                        </div>

                    </div>

                    <div class="review-bottom">

                        <div class="review-sub-title">
                            <p>
                                I have been hiring people in this space for years
                                and I have never seen this level of professionalism.
                            </p>
                        </div>

                        <div class="review-star flex">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                        </div>

                    </div>

                </div>

                <!-- Review 2 -->
                <div class="review">

                    <div class="review-top flex">

                        <div class="user-img-name flex align-center">
                            <img
                                src="/images/<%= blog2 %>"
                                alt="Rakhesh Sir"
                                width="10%"
                            >

                            <h2>Keyur Sir</h2>
                        </div>

                    </div>

                    <div class="review-bottom">

                        <div class="review-sub-title">
                            <p>
                                I have been hiring people in this space for years
                                and I have never seen this level of professionalism.
                            </p>
                        </div>

                        <div class="review-star flex">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>