<section>
    <div class="container">
        <div class="Frequently flex py100 ">

            <div class="col-12">
                <div class="frequently-top text-center">
                    <span class="frequently-sub-title">
                        Our FAQ
                    </span>

                    <h2 class="frequently-title">
                        Frequently Asked Questions ?
                    </h2>
                </div>
            </div>

            <!-- FAQ Image -->
            <div class="col-6 col-lg-12">
                <div class="frequently-img">
                    <img
                        src="/images/<%= faq %>"
                        alt="FAQ Image"
                        width="100%"
                    >
                </div>
            </div>

            <!-- FAQ Questions -->
            <div class="col-6 col-lg-12">

                <div class="frequently-Question align-center justify-center">
                    <h3 class="Questions-title">
                        How Can Digital Marketing Benefit My Business?
                        <i class="ri-arrow-drop-up-line"></i>
                    </h3>
                </div>

                <div class="frequently-Question align-center justify-center">
                    <h3 class="Questions-title">
                        Do I Need To Have A Large Budget For Digital Marketing?
                        <i class="ri-arrow-drop-up-line"></i>
                    </h3>
                </div>

                <div class="frequently-Question align-center justify-center">
                    <h3 class="Questions-title">
                        What Services Does Your Digital Agency Offer?
                        <i class="ri-arrow-drop-up-line"></i>
                    </h3>
                </div>

                <div class="frequently-Question align-center justify-center">
                    <h3 class="Questions-title">
                        Can You Help With Content Creation And Social Media Management?
                        <i class="ri-arrow-drop-up-line"></i>
                    </h3>
                </div>

            </div>

        </div>
    </div>
</section>