<section>
    <div class="container">
        <div class="feautures flex py100">

            <div class="col-12">
                <div class="feature-top text-center">
                    <span class="features-sub-title">
                        Features Services
                    </span>

                    <h2 class="features-title">
                        Features
                    </h2>
                </div>
            </div>

            <div class="flex border-xl">

                <!-- Feature 1 -->
                <div class="col-4 col-xl-6 col-md-12 feature-bottom">
                    <div class="feature-icon">
                        <i class="ri-poker-diamonds-line"></i>
                    </div>

                    <div class="feature-contant">
                        <h2 class="feature-box-title">
                            Developer
                        </h2>

                        <h4 class="feature-box-dsc">
                            Lorem ipsum dummy text are usually use in these
                            section. Lorem ipsum dummy text are used in this
                            design.
                        </h4>

                        <h3 class="feature-box-link">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </h3>
                    </div>
                </div>

                <!-- Feature 2 -->
                <div class="col-4 col-xl-6 col-md-12 feature-bottom">
                    <div class="feature-icon">
                        <i class="ri-stack-line"></i>
                    </div>

                    <div class="feature-contant">
                        <h2 class="feature-box-title">
                            Digital Product Design
                        </h2>

                        <h4 class="feature-box-dsc">
                            Lorem ipsum dummy text are usually use in these
                            section. Lorem ipsum dummy text are used in this
                            design.
                        </h4>

                        <h3 class="feature-box-link">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </h3>
                    </div>
                </div>

                <!-- Feature 3 -->
                <div class="col-4 col-xl-6 col-md-12 feature-bottom">
                    <div class="feature-icon">
                        <i class="ri-gallery-view-2"></i>
                    </div>

                    <div class="feature-contant">
                        <h2 class="feature-box-title">
                            Branding & Design
                        </h2>

                        <h4 class="feature-box-dsc">
                            Lorem ipsum dummy text are usually use in these
                            section. Lorem ipsum dummy text are used in this
                            design.
                        </h4>

                        <h3 class="feature-box-link">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>