<section>
    <div class="container">
        <div class="design flex py100 align-center">

            <div class="col-6 col-lg-12">
                <div class="design-contant">
                    <h2 class="design-title">
                        Better design for your digital products.
                    </h2>

                    <h4 class="design-dsc">
                        We are a creative studio specializing in UI/UX design,
                        development and strategy.
                    </h4>

                    <button class="design-btn">
                        Get Solution
                        <i class="ri-arrow-right-up-line"></i>
                    </button>
                </div>
            </div>

            <div class="col-6 col-lg-12">
                <div class="design-img">
                    <img src="/images/hero-u1BrDpJJ.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>