<section>
    <div class="container">
        <div class="portfolio flex py100">

            <div class="col-12">
                <div class="portfolio-top text-center">
                    <span class="portfolio-sub-title">
                        Our Portfolio
                    </span>

                    <h2 class="portfolio-title">
                        Selected Projects.
                    </h2>
                </div>
            </div>

            <div class="portfolio-img flex">

                <div class="col-12">
                    <div class="portfolio-img2">
                        <img
                            src="/images/<%= portfolio %>"
                            alt="Portfolio Project"
                            width="100%"
                        >
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>