<section>
    <div class="container py100">

        <div class="service flex justify-center">

            <!-- Left Side -->
            <div class="col-6 col-xl-12">

                <div class="service-left">

                    <div class="service-top">
                        <span class="service-sub-title">
                            service
                        </span>

                        <h2 class="service-title">
                            We help you to go online and increase your
                            conversion rate. Better design for your digital
                            products.
                        </h2>
                    </div>

                    <div class="service-bottom">

                        <div class="service-contant flex justify-between align-center">
                            <h3 class="coures">
                                Graphic Design
                            </h3>

                            <i class="ri-arrow-drop-right-line"></i>
                        </div>

                        <div class="service-contant flex justify-between align-center">
                            <h3 class="coures">
                                Web Design
                            </h3>

                            <i class="ri-arrow-drop-right-line"></i>
                        </div>

                        <div class="service-contant flex justify-between align-center">
                            <h3 class="coures">
                                Digital Marketing
                            </h3>

                            <i class="ri-arrow-drop-right-line"></i>
                        </div>

                        <div class="service-contant flex justify-between align-center">
                            <h3 class="coures">
                                UI/UX Design
                            </h3>

                            <i class="ri-arrow-drop-right-line"></i>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Right Side -->
            <div class="col-6 col-xl-12">

                <div class="service-right position-relative">

                    <div class="service-img">
                        <img
                            src="/images/<%= service %>"
                            alt="Service Image"
                            width="100%"
                        >
                    </div>

                    <div class="service-img-contact">

                        <h2 class="service-img-contant-title">
                            Development
                        </h2>

                        <p class="service-img-contant-dsc">
                            Nam ipsum risus, rutrum vitae, vestibulum eu,
                            molestie vel, lacus. Sed augue ipsum, egestas nec,
                            vestibulum et, malesuada adipiscing, dui.
                        </p>

                        <h4 class="service-img-contant-link">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </h4>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>