<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-500 text-gray-200 h-screen flex flex-col justify-center">
  <header>
    <h1 class="text-center p-3 text-2xl text-gray-200">Register Now</h1>
  </header>
  <main>
    <section class="container mx-auto flex justify-center">
      <form action="/auth/register" method="POST" class="max-w-100 flex flex-col gap-3 bg-gray-600 shadow-lg rounded-xl py-5 px-3">
        <div class="flex flex-col">
          <label id="username">Name</label>
          <input type="text" name="username" id="username" class="bg-gray-200 text-gray-700 outline-none rounded-lg px-2 py-1" />
        </div>
        <div class="flex flex-col">
          <label id="email">Email</label>
          <input type="email" name="email" id="email" class="bg-gray-200 text-gray-700 outline-none rounded-lg px-2 py-1" />
        </div>
        <div class="flex flex-col">
          <label id="password">password</label>
          <input type="password" name="password" id="password" class="bg-gray-200 text-gray-700 outline-none rounded-lg px-2 py-1" />
        </div>

        <div class="flex justify-center">
          <button class="bg-gray-300 text-gray-700 rounded-md p-1 px-2 hover:scale-110 hover:shadow-md transition-all duration-200 cursor-pointer">Login</button>
        </div>
      </form>
    </section>
  </main>
</body>

</html>