<header>
    <div class="header-bgcolor">
        <div class="container">
            <div class="flex py-lr-30 align-center justify-between">
                <div class="header-img">
                    <a href="/">
                        <img src="images/<%= logo %>" alt="aero-page-logo" width="147" height="40">
                    </a>
                </div>

                <nav class="navbar">
                    <ul class="flex gap-30">
                        <li><a href="/">Home</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/faq">Faq</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/services">Services</a></li>
                        <li class="position-relative">
                            <a href="/testimonial">Testimonial</a>
                        </li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </nav>

                <div class="header-btn">
                    <button class="btn"><i class="ri-download-cloud-2-line"></i>Download</button>
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </div>
    </div>
</header>