<nav>
    <div class="container nav-wrapper">
        <div>
            <h1>Cinema</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add Movie</a></li>
            <li><a href="/health-check">Status</a></li>
        </ul>
    </div>
</nav>
